*,
*:before *:after {
    box-sizing: border-box;
}

.d--flex {
    display: flex;
}
.margin{
    margin: 0;
}

.fd--col {
    flex-direction: column;
}

.f--row {
    flex-direction: row;
}

.f--wrap {
    flex-wrap: wrap;
}

.f--wrapr {
    flex-wrap: wrap-reverse;
}
.h--1 {
    height: 25px;
}

.jc--sb {
    justify-content: space-between;
}

.jc--ct {
    justify-content: center;
}

/* margin */

.m--autor {
    margin-right: auto;
    margin-left: 5px;
}

.m--r {
    margin-right: 500px;
}

.m--autol {
    margin-left: auto;
}

.m--autob {
    margin-bottom: auto;
}

.mar--1 {
    margin: 10px 0px 10px 2px;
}

.mt--1 {
    margin-top: 30px;
}

.marg--t {
    margin-top: 15px;
}
.mnav {
    margin: 15px 50px 0 50px;
}
.m--top {
    margin-top: 35px;
}

.m--3 {
    margin: 100px 0 100px 0;
}

.ml--2 {
    margin: 0 50px;
}
.m--4{
    margin: 10px 10px;
}
.mlr{
    margin-left:400px;
}
/* TYPO */
.text--center {
    text-align: center;
}
.center {
    align-items: center;
    text-align: center;
}

/* COULEUR */
.text--white {
    color: #fff;
}

.search__input {
    border-radius: 16px;
}

.b__cb {
    background-color: #34332E;
}

.b__cw {
    background-color: white;
}

#search {
    margin-right: 50px;
}

.search__button {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    min-width: 100px;
}

p input{
    width:80%;
    height:50px;
    border:#34332E solid;

}
.topnav {
    overflow: hidden;
    margin-right: 0px;
}

.topnav a {
    color: white;
    float: left;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
}

#crg {
    background-color: rgba(255, 0, 0, 0.432);
    width: 245px;
    height: 440px;
    margin: -15px 0 0 -10px;
    position: absolute;
}

.radus {
    border-radius: 3px;
}

.text--jd {
    background-color: #f5f5f5;
    align-items: center;
    font-size: 19px;
    
}

.flex1 {
    flex: 1 1 500px;
}

.flex2 {
    flex: 2 2 900px;
}

.possti {
    position: sticky;
    top: 50px;
}

.box {
    box-shadow: 3px 3px 3px 3px lightslategray;
}

#photo1 {
    width: 260px;
    height: 500px;
}

.obf {
    object-fit: cover;
}

.max--3 {
    max-width: 31%;
    
}
.width{
    width:100%;
}
.max--5 {
    max-width: 70%;
    min-width: 50%;
}

.max--4 {
    max-width: 20px;
}

.max--2 {
    max-width: 40px;

}

.ftz {
    font-size: 40px;
}

.ftz1 {
    font-size: 30px;
}

.align {
    justify-content: center;
    align-items: flex-start;
}

button {
    color: red;
    background-color: white;
    border-color: red;

}

.bg {
    background-image: url('../images/bg.jpg');
    background-repeat:no-repeat;
    
}

.col--2 {
    flex: 1 1 150px;
}
.col--3 {
    flex: 1 1 180px;
}
.gap {
    gap: 1rem;
}

.p--1 {
    padding: 1rem;
}
.ptb {
    padding: 20px 0;
}
.p--2{
    padding:0.6rem 1.5rem;
}
.card {
    max-width: 480px;
}

.form-contact{
    display:grid;
    grid-template-areas:
    "prenom prenom nom nom"
    "tel tel email email"
    "subject subject subject subject"
    "message message message message"
    ".button button";
}
.form-contact__item--prenom{
    grid-area:prenom;
}
.form-contact__item--nom{
    grid-area:nom;
}
.form-contact__item--email{
    grid-area:email;
}
.form-contact__item--tel{
    grid-area:tel;
}
.form-contact__item--subject{
    grid-area:subject;
}
.form-contact__item--message{
    grid-area:message;
}